<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="blocks/header"></div>
    
    <div class="container main-container"> 
        <div class="container borderedcont">
            <h1>Список товаров</h1>
            <form action="/assortments/add" method="post" th:object="${assortment}">
                <div class="mb-3">
                    <label for="quantity" class="form-label">Кол-во:</label>
                    <input type="text" name="quantity" placeholder="Количество" th:field="*{quantity}" class="form-control" required>
                    <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger">Количество от 1 до 100</div>

                    <label for="price" class="form-label">Цена:</label>
                    <input type="text" name="price" placeholder="Стоимость" th:field="*{price}" class="form-control" required>
                    <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Цена от 1</div>

                    <label for="itemTag" class="form-label">Товар:</label>
                    <select name="itemTag" th:field="*{itemTag}" class="form-select" required>
                        <option th:each="itemTag : ${itemTags}" 
                                th:value="${itemTag.id}" 
                                th:text="${itemTag.item.name}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-dark" formmethod="post">Добавить товар в ассортимент</button>
            </form>

            <h2>Все товары:</h2>
            <ul class="list-group">
                <th:block th:each="assortment : ${assortments}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span th:text="${assortment.itemTag.item.name} + ' ' + ${assortment.quantity} + ' ' + ${assortment.price}"></span>
                        
                        <form action="/assortments/update" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${assortment.id}">
                            <div class="d-inline-block me-2">
                                <label for="quantity" class="form-label">Кол-во:</label>
                                <input type="text" name="quantity" placeholder="Количество" th:value="*{assortment.quantity}" class="form-control d-inline-block w-25" required>

                                <label for="price" class="form-label">Цена:</label>
                                <input type="text" name="price" placeholder="Стоимость" th:value="*{assortment.price}" class="form-control d-inline-block w-25" required>

                                <label for="itemTag" class="form-label">Товар</label>
                                <select id="itemTag" name="itemTag" class="form-select d-inline-block w-50" required>
                                    <option th:each="itemTag : ${itemTags}" 
                                            th:value="${itemTag.id}" 
                                            th:text="${itemTag.item.name}" 
                                            th:selected="${itemTag.id == (assortment.itemTag != null ? assortment.itemTag.id : null)}">
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-dark" formmethod="post">Обновить</button>
                        </form>

                        <form action="/assortments/delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${assortment.id}">
                            <button type="submit" class="btn btn-light" formmethod="post">Удалить</button>
                        </form>
                    </li>
                </th:block>
            </ul>

            <!-- <form id="delitingForm" action="/assortments/deleteAll" method="post" onsubmit="getCheckedCheckBoxes()" class="mt-3">
                <button type="submit" class="btn btn-danger">Удалить выбранное</button>
            </form> -->

            <a th:if="${page > 0}" th:href="@{all(page=${page - 1}, size=5)}" class="btn btn-secondary">Назад</a>
            <a th:if="${(page+1) * 5 < count}" th:href="@{all(page=${page + 1}, size=5)}" class="btn btn-secondary">Вперед</a>
        </div>
    </div>

    <script>
        function getCheckedCheckBoxes() {
            var checkboxes = document.getElementsByClassName('assortment-checkbox');
            var assortmentIds = [];
            for (var index = 0; index < checkboxes.length; index++) {
                if (checkboxes[index].checked) {
                    assortmentIds.push(checkboxes[index].value);
                }
            }

            if (assortmentIds.length > 0) {
                var input = document.createElement("input");
                input.type = "hidden";
                input.name = "assortmentIds";
                input.value = assortmentIds.join(",");
                document.getElementById("delitingForm").appendChild(input);
            } else {
                alert("Выберите хотя бы один объект для удаления.");
                return false;
            }

            return true;
        }
    </script>

</body>
</html>
