<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div th:insert="blocks/header"></div>

    <div class="container main-container"> 
        <div class="container borderedcont">
            <h1>Список категорий</h1>
            <form action="/categories/add" method="post" th:object="${category}">
                <div class="mb-3">
                    <input type="text" name="name" placeholder="Имя категории" th:field="*{name}" class="form-control" required>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Имя не должно быть меньше чем 3 символа</div>
                </div>
                
                <button type="submit" class="btn btn-dark" formmethod="post">Добавить категорию</button>
            </form>

            <h2>Все категории:</h2>
            <ul class="list-group">
                <th:block th:each="category : ${categories}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span th:text="${category.name}"></span>

                        <form action="/categories/update" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${category.id}">
                            <input type="text" name="name" th:value="${category.name}" placeholder="Имя категории" required class="form-control d-inline-block w-50">
                            <button type="submit" class="btn btn-dark" formmethod="post">Обновить</button>
                        </form>
                        <form action="/categories/delete" method="post" style="display:inline;">
                            <input type="hidden" name="id" th:value="${category.id}">
                            <button type="submit" class="btn btn-light" formmethod="post">Удалить</button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

</body>
</html>
