<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробная информация о пользователе</title>
</head>
<body>
<div class="container">
    <h1 th:text="'Пользователь: ' + ${user_object.username}"></h1>
    <div class="container">
        <h2 th:text="'Роли: ' + ${user_object.roles}"></h2>
        <div th:text="'Баланс: ' + ${user_object.balance}"></div>
        <p th:text="${user_object.deleted == True ? 'Пользователь заблокирован' : 'Пользователь активен'}"></p>
    </div>
    <a th:href="'/admin/users/' + ${user_object.id} + '/update'" class="btn btn-warning">Редактировать</a>
    <a href="/admin/users" class="btn btn-success">Назад</a>
</div>
</body>
</html>